@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: crimson;
  --color-primary-foreground: #ffffff;
  --color-primary-hover: #b71c3b;   /* darker crimson for hover */

  --color-destructive: #ef4444;
  --color-destructive-foreground: #ffffff;

  --color-secondary: #f3f4f6;
  --color-secondary-foreground: #111827;

  --color-accent: #e5e7eb;
  --color-accent-foreground: #111827;

 --default-font-family :'poppins';

 --animate-sideBarIcon: active .3s ease-out;


}

@keyframes active {
  from{
    scale:0.8;
    opacity: 0;
  }
  to{
    scale:1;
    opacity: 1;
  }
}
